*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

* {
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: #ddd;
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}

:root {
	--main-text-color: #ddd;
	--main-color: #1b263b;
	--second-text-color: #3e3e3e;
}

.open-sans {
	font-family: "Open Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

.lora-regular,
h1,
h2,
.spec-text,
.hero2-text {
	font-family: "Lora", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

// NAVIGATION

nav {
	position: fixed;
	width: 100%;
	height: 90px; /* przykleja nawigację do widoku */
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 5;
	transition: background-color 0.5s ease;
}

.background-for-menu {
	background: rgba(27, 38, 59, 0.95);
}

.burger-btn {
	position: relative;
	right: 10px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.burger-btn div {
	position: absolute;
	left: 0;
	width: 50px;
	height: 4px;
	background-color: var(--main-text-color);
	border-radius: 2px;
	transition: all 0.4s ease;
	transform-origin: center;
}

.line1 {
	top: 30%;
	transform: rotate(0deg);
}

.line2 {
	top: 60%;
	transform: rotate(0deg);
}

.burger-btn.active .line1 {
	top: 50%;
	transform: rotate(45deg);
}

.burger-btn.active .line2 {
	top: 50%;
	transform: rotate(-45deg);
}

.menu {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 100px;
	right: 0;
	opacity: 0;
	transform: translateX(100%);
	pointer-events: none; /* wyłącz interakcję gdy ukryte */
	transition: opacity 0.3s ease, transform 0.3s ease;
	z-index: 100;
}

.menu a {
	margin-right: 4px;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 3rem;
	color: var(--main-text-color);
}

.menu a:not(:last-child) {
	margin-bottom: 3px;
}

.menu.active {
	opacity: 1;
	transform: translateX(0);
	pointer-events: auto;
}

.big-menu {
	margin-right: 10px;
	display: none;
	width: 410px;
	justify-content: space-between;
	align-items: center;
}
.big-menu a {
	padding: 0.2em 0.4em;
	text-decoration: none;
	color: var(--main-text-color);
	font-size: 1.9rem;
	border: 1px solid transparent;
	border-radius: 5px;
	transition: border-color 0.3s ease;
}

.big-menu a:hover {
	border-color: var(--main-text-color);
}
.logo {
	display: block;
	margin-left: 5px;
	top: 0;
	left: 0;
	width: 110px;
	height: 100px;
	margin-left: 5px;
	cursor: pointer;
}
.logo a {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../../dist/img/logo\ białe\ bez\ tła.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
@media (width > 576px) {
	.burger-btn {
		display: none;
	}
	.big-menu {
		display: flex;
	}
}

// HERO IMAGE

.hero {
	display: flex;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-image: url("../img/tingey-injury-law-firm-DZpc4UY8ZtY-unsplash.jpg");
	background-position: center;
	background-size: cover;
}

.hero-gradient {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(
		to right,
		rgba(74, 74, 74, 0.85) 2%,
		rgba(24, 38, 59, 0.85) 72%
	);
	z-index: 2;
}

.hero-text {
	padding: 0 15px;
	z-index: 2;
}

h1 {
	font-size: 4rem;
	color: var(--main-text-color);
	z-index: 10;
}

.contact-btn {
	display: inline-block;
	margin-top: 1em;
	padding: 0.3em 1em;
	cursor: pointer;
	color: var(--main-text-color);
	border: none;
	font-weight: bold;
	font-size: 1.8rem;
	border-radius: 25px;
	background: #bf0808;
	transition: background 0.3s ease, transform 0.3s ease;
	text-decoration: none;
}

.contact-btn:hover {
	background: var(--main-color);
	transform: scale(1.05);
}

@media (width > 576px) {
	.hero-text {
		padding: 0;
		margin-left: 6rem;
		width: 65%;
	}
	h1 {
		font-size: 4.5rem;
	}
	.contact-btn {
		font-size: 2rem;
	}
}

@media (width > 768px) {
	h1 {
		font-size: 4.7rem;
	}
	.hero-text {
		width: 50%;
		margin-left: 8rem;
	}
	.contact-btn {
		font-size: 2.1rem;
	}
}
@media (width > 992px) {
	h1 {
		font-size: 5rem;
	}
	.contact-btn {
		font-size: 2.3rem;
	}
}

// short info

.short-info {
	margin-top: 100vh;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 2rem;
}

.short-info img {
	width: 250px;
}

.short-info-text h3 {
	font-size: 2.4rem;
}

.short-info-text {
	padding: 0 20px;
	font-size: 2rem;
	letter-spacing: 1px;
	color: var(--main-color);
	font-weight: 500;
}

@media (width > 576px) {
	.short-info {
		padding: 0 20px;
		height: 400px;
		flex-direction: row-reverse;
		max-width: 650px;
	}

	.short-info-text h3 {
		font-size: 2.6rem;
	}

	.short-info-text {
		padding: 0;
		font-size: 2.3rem;
	}
}

// specializations

.spec {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;
	padding: 2rem 1rem;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 5rem;
}

h2 {
	margin-bottom: 1em;
	padding: 0 7px;
	text-transform: uppercase;
	font-size: 3rem;
	text-align: center;
	width: 100%;
	color: var(--main-color);
	scroll-margin-top: 50px;
}

.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
	width: 100%;
	perspective: 1000px;
}

.card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 300px;
	height: 200px;
	border: solid 2px #e8b923;
	background-size: cover;
	background-position: center;
	border-radius: 8px;
	overflow: hidden;
	opacity: 0;
	transform: translateY(50px);
	transform-style: preserve-3d; /* włącz 3D dla transformacji */
	transition: opacity 0.6s ease, transform 0.6s ease, width 0.3s ease,
		height 0.3s ease, box-shadow 0.3s ease;
}

.card.visible {
	opacity: 1;
	transform: translateY(0);
}
.card:hover {
	transform: translateY(0) rotateX(10deg) rotateY(10deg); /* pochylona karta */
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); /* wyraźniejszy cień */
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.spec-text {
	padding: 0 1em;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: var(--main-text-color);
	z-index: 1;
	line-height: 1.3;
}

span {
	font-size: 1.6rem;
	font-weight: 300;
	text-transform: none;
	display: block;
	margin-top: 0.3rem;
}

.card-shadow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(24, 38, 59, 0.75);
	z-index: 0;
	transition: background-color 0.3s ease;
}

.card:hover .card-shadow {
	background-color: rgba(24, 38, 59, 0.5);
}

.one {
	background-image: url("../img/prawo rodzinne small.jpg");
}

.two {
	background-image: url("../img/prawo_gospodarcze_small.jpg");
}

.three {
	background-image: url("../img/prawo administracyjne small.jpg");
}

@media (width > 576px) {
	.cards {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 2.5rem 3.5rem;
	}

	.card {
		width: 350px;
		height: 230px;
		flex-shrink: 0;
	}
}

// services
.s-card-text-box,
.s-card-img {
	opacity: 0;
	transition: opacity 0.6s ease;
}

.s-card.visible .s-card-text-box,
.s-card.visible .s-card-img {
	opacity: 1;
}

.services-section {
	padding: 3em 0;
	background-color: var(--main-color);
}

.title {
	color: var(--main-text-color);
	scroll-margin-top: 50px;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5em;
}

.s-card {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 10em;
	// background-color: red;
	width: 90vw;
}

.s-card-text-box {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 170px;
	background-color: rgba($color: #fff, $alpha: 0.76);
	z-index: 1;
}

.s-card-text-box p {
	padding: 0.5em;
	font-size: 1.6rem;
}

.s-card img {
	width: 90vw;
}

@media (width > 576px) {
	.s-card {
		width: 90vw;
		max-width: 650px;
		height: 250px;
		padding-top: 0;
	}

	.s-card-text-box {
		width: 350px;
		left: 0;
		top: 50%;
		transform: translate(0%, -50%);
	}

	.s-card img {
		position: absolute;
		right: 0;
		width: 350px;
		height: 250px;
		object-fit: cover;
		z-index: 0;
	}

	.s-card-text-box p {
		font-size: 1.7rem;
	}
}

@media (width > 992px) {
	.s-card {
		max-width: 1500px;
		width: 800px;
		height: 300px;
	}
	.s-card img {
		width: 450px;
		height: 300px;
	}
	.s-card-text-box {
		width: 400px;
	}
	.s-card-text-box p {
		font-size: 1.8rem;
	}
}

// about-me
.about-me-section img {
	width: 250px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	// border-radius: 25px;
	margin-bottom: 1em;
}
.about-me-section {
	padding: 3em 1em;
	background-color: var(--main-text-color);
	color: var(--main-color);
}

.about-me-first-part,
.about-me-second-part {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	margin-bottom: 3em;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	padding: 0 10px;
	font-size: 1.6rem;
	line-height: 1.6;
}

.about-me-first-part {
	flex-direction: column-reverse;
	margin-bottom: 1em;
}

/* Startowe schowanie i przesunięcie */
.about-me-first-part .about-text,
.about-me-first-part img,
.about-me-second-part .about-text,
.about-me-second-part img {
	opacity: 0;
	transition: transform 0.7s cubic-bezier(0.21, 0.82, 0.51, 0.97), opacity 0.7s;
}

/* Tekst about-me-first-part z lewej, zdjęcie z prawej */
.about-me-first-part .about-text {
	transform: translateY(-80px);
}
.about-me-first-part img {
	transform: translateY(80px);
}

/* Tekst about-me-second-part z prawej, zdjęcie z lewej */
.about-me-second-part .about-text {
	transform: translateY(80px);
}
.about-me-second-part img {
	transform: translateY(-80px);
}

/* Efekt pojawienia się */
.about-me-first-part.visible .about-text,
.about-me-first-part.visible img,
.about-me-second-part.visible .about-text,
.about-me-second-part.visible img {
	opacity: 1;
	transform: translateX(0);
}

@media (width > 576px) {
	.about-me-first-part,
	.about-me-second-part {
		flex-direction: row;
		text-align: left;
		padding: 0;
	}
	.about-me-first-part img {
		margin: 0;
		margin-left: 2em;
	}
}

// hero2
.hero2 {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
	margin-bottom: 5rem;
	background-image: url("../img/hero2_small.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.hero2-shadow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(27, 38, 59, 0.7);
	z-index: 2;
}

.hero2-text {
	position: relative;
	z-index: 3;
	padding: 10px;
	color: var(--main-text-color);
	font-size: 3rem;
	text-align: center;
	font-weight: 550;
}

@media (width > 576px) {
	.hero2 {
		background-image: url("../img/hero2_medium.jpg");
	}
	.hero2-text {
		font-size: 4rem;
	}
}

// contact

#contact {
	margin-bottom: 0;
}

.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact-box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	padding: 2em 1em;
	margin-top: 5em;
	width: 90vw;
	max-width: 1200px;
	// height: 400px;
	gap: 2em;
	background-image: url("../img/hero2_medium.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.contact-shadow {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(27, 38, 59, 0.88);
	z-index: 0;
}

.contact-img {
	display: none;
	top: -50px;
	left: 60px;
	height: 600px;
	height: 130%;
	object-fit: cover;
	border-radius: 8px;
	margin-left: 2em;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1;
	opacity: 0;
	transform: translateY(-50px);
	transition: opacity 0.6s ease, transform 0.6s ease;
}
.contact-img.visible {
	opacity: 1;
	transform: translateY(0);
}

.contact-text {
	position: relative;
	z-index: 1;
	padding: 0.2em 0.2em;
	font-size: 1.6rem;
	color: var(--main-text-color);
	line-height: 1.6;
	opacity: 0;
	transform: translateY(50px);
	transition: opacity 0.6s ease, transform 0.6s ease;
}
.contact-text.visible {
	opacity: 1;
	transform: translateY(0);
}

@media (width > 576px) {
	.contact-text {
		font-size: 1.8rem;
	}
}
@media (width > 768px) {
	#contact {
		margin-bottom: 1em;
	}
	.contact-box {
		height: 460px;
	}
	.contact-text {
		padding: 0 0.2em;
		font-size: 1.4rem;
	}

	.contact-img {
		display: inline;
	}
}

@media (width > 992px) {
	.contact-box {
		height: 500px;
	}
	.contact-img {
		margin-left: 6em;
	}
	.contact-text {
		font-size: 2rem;
	}
}

//address

.address {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	margin-top: 9em;
	position: relative;
	z-index: 1;
}

.address-shadow {
	height: 100%;
	width: 100%;
	background: #bcbcbc;
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2em;
}

.address-words {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0 0.1em;
	font-size: 1.1rem;
	color: var(--main-color);
}

.place,
.phone,
.mail {
	display: flex;
	align-items: center;
}
.address-text {
	text-align: center;
}

.icon {
	margin-right: 10px;
	font-size: 2rem;
	color: var(--main-color);
}

.special-text {
	color: var(--main-color);
	display: inline-block;
	overflow-wrap: break-word;
	word-wrap: break-word;
	white-space: normal;
	text-decoration: none;
	cursor: pointer;
	max-width: 400px;
}

@media (width > 345px) {
	.address-words {
		font-size: 1.4rem;
	}
}

@media (width > 576px) {
	.address-shadow {
		height: 70%;
	}
	.address-shadow {
		flex-direction: row;
		padding: 0 2em;
	}

	.address-map {
		height: 130%;
		width: 100%;
	}
}

@media (width > 992px) {
	.address-words {
		font-size: 1.8rem;
	}
}

// footer

footer {
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1em;
	padding: 2em 1em;
	background-color: var(--main-color);
	color: var(--main-text-color);
}

.footer-line {
	width: 80%;
	height: 1px;
	background-color: var(--main-text-color);
	opacity: 0.3;
}

.footer-logo {
	width: 100%;
	height: 80%;
	background-image: url("../img/logo\ białe\ bez\ tła.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.place-bottom,
.year {
	font-size: 1rem;
}

.footer-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

@media (width > 576px) {
	footer {
		height: 60vh;
	}
}
